@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --fonte: "Outfit", sans-serif;
}

body {
    background-color: var(--slate-300);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte);
}

main {
    background-color: var(--white);
    width: 300px;
    border-radius: 20px;
    padding: 15px;
    text-align: center;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    color: var(--slate-900);
    font-size: 1.5em;
    margin-bottom: 15px;
}

p.description {
    color: var(--slate-500);
    margin-bottom: 30px;
    padding: 0 20px 0;
}

.attribution { 
    font-size: 1em;
    text-align: center; 
    position: absolute;
    bottom: 0;
    margin: auto;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}